<header class="header2">
    <div class="header2-container">
      <div class="logo">
        <h1>BookMania</h1>
      </div>
      <nav class="main-nav">
        <ul>
          <li>
            <button class="header-button" onclick=window.location.href="/";>Home</button>
          </li>
          <li>
            <button class="header-button" onclick=window.location.href="/collection";>My Collection</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>